@page "{id:int}"
@model Proyect3TWN.WebSite.Pages.VacationsAbsences.Delete

<style>

    .card {
        border: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #007bff; /* Color de fondo del encabezado azul */
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: white;
        text-align: center;
        padding: 20px;
    }

    .card-body {
        padding: 40px;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .form-control {
        border-radius: 15px;
    }

    .btn-primary {
        background-color: #007bff; /* Color de fondo del botón primario azul */
        border-color: #007bff;
        border-radius: 15px;
    }

    .btn-primary:hover {
        background-color: #0056b3; /* Cambio de color al pasar el ratón */
        border-color: #0056b3;
    }

    .btn-secondary {
        background-color: #6c757d; /* Color de fondo del botón secundario */
        border-color: #6c757d;
        border-radius: 15px;
    }

    .btn-secondary:hover {
        background-color: #565e64; /* Cambio de color al pasar el ratón */
        border-color: #565e64;
    }

    .text-danger {
        font-size: 0.875em;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">Eliminar Vacations and Absences</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="VacationsAbsencesDto.id" />
                        <div class="form-group">
                            <label>Empleado</label>
                            <input readonly value="@Model.EmployeesName[Model.VacationsAbsencesDto.ID_Employee]" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="VacationsAbsencesDto.Type"></label>
                            <input readonly asp-for="VacationsAbsencesDto.Type" class="form-control" maxlength="45" />
                        </div>
                        <div class="form-group">
                            <label asp-for="VacationsAbsencesDto.Deducted"></label>
                            <input readonly asp-for="VacationsAbsencesDto.Deducted" class="form-control" maxlength="45" />
                        </div>
                        <div class="form-group">
                            <label asp-for="VacationsAbsencesDto.StartDate"></label>
                            <input readonly asp-for="VacationsAbsencesDto.StartDate" class="form-control" maxlength="45" />
                        </div>
                        <div class="form-group">
                            <label asp-for="VacationsAbsencesDto.EndDate"></label>
                            <input readonly asp-for="VacationsAbsencesDto.EndDate" class="form-control" maxlength="45" />
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary mr-3">Delete</button>
                                <a asp-page="./List" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
