@page "{id:int}"
@model Proyect3TWN.WebSite.Pages.PerfomanceReviews.Edit

<style>

    .card {
        border: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #81bece; /* Color de fondo del encabezado */
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: white;
        text-align: center;
        padding: 20px;
    }

    .card-body {
        padding: 40px;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .form-control {
        border-radius: 15px;
    }

    .btn-primary {
        background-color: #81bece; /* Color de fondo del botón primario */
        border-color: #81bece;
        border-radius: 15px;
    }

    .btn-primary:hover {
        background-color: #5ca9bf; /* Cambio de color al pasar el ratón */
        border-color: #5ca9bf;
    }

    .btn-secondary {
        background-color: #6c757d; /* Color de fondo del botón secundario */
        border-color: #6c757d;
        border-radius: 15px;
    }

    .btn-secondary:hover {
        background-color: #565e64; /* Cambio de color al pasar el ratón */
        border-color: #565e64;
    }

    .text-danger {
        margin-top: 5px; /* Espacio superior para los mensajes de error */
    }

    .alert-danger ul {
        margin-bottom: 0;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">Editar Evaluación de Desempeño</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="PerfomanceReviewsDto.id"/>
                        <div class="form-group">
                            <label asp-for="PerfomanceReviewsDto.ID_Employee">ID de Empleado</label>
                            <input asp-for="PerfomanceReviewsDto.ID_Employee" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PerfomanceReviewsDto.ID_Employee"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PerfomanceReviewsDto.EvaluationDate">Fecha de Evaluación</label>
                            <input asp-for="PerfomanceReviewsDto.EvaluationDate" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PerfomanceReviewsDto.EvaluationDate"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PerfomanceReviewsDto.Clasification">Clasificación</label>
                            <input asp-for="PerfomanceReviewsDto.Clasification" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PerfomanceReviewsDto.Clasification"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PerfomanceReviewsDto.Comments">Comentarios</label>
                            <input asp-for="PerfomanceReviewsDto.Comments" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PerfomanceReviewsDto.Comments"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PerfomanceReviewsDto.Goals">Metas</label>
                            <input asp-for="PerfomanceReviewsDto.Goals" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PerfomanceReviewsDto.Goals"></span>
                        </div>
                        @if (Model.Errors.Count > 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    @foreach (var error in Model.Errors)
                                    {
                                        <li>@error</li>
                                    }
                                </ul>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                                <a asp-page="./List" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
