@page "{id:int}"
@model Proyect3TWN.WebSite.Pages.PerfomanceReviews.Edit
<head>
    <link rel="stylesheet" href="~/css/PerfomanceReview/EditP.css" asp-append-version="true"/>
</head>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">Editar Evaluación de Desempeño</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="PerfomanceReviewsDto.id"/>
                        <div class="form-group">
                            <label asp-for="PerfomanceReviewsDto.ID_Employee">Empleado</label>
                            <select asp-for="PerfomanceReviewsDto.ID_Employee" class="form-control">
                                <option value="">Seleccionar Empleado</option>
                                @if (Model.Employees != null)
                                {
                                    @foreach (var employee in Model.Employees)
                                    {
                                        <option value="@employee.id">@employee.Name</option>
                                    }
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="PerfomanceReviewsDto.ID_Employee"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PerfomanceReviewsDto.EvaluationDate">Fecha de Evaluación</label>
                            <input asp-for="PerfomanceReviewsDto.EvaluationDate" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PerfomanceReviewsDto.EvaluationDate"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PerfomanceReviewsDto.Clasification">Clasificación</label>
                            <input asp-for="PerfomanceReviewsDto.Clasification" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PerfomanceReviewsDto.Clasification"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PerfomanceReviewsDto.Comments">Comentarios</label>
                            <input asp-for="PerfomanceReviewsDto.Comments" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PerfomanceReviewsDto.Comments"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PerfomanceReviewsDto.Goals">Metas</label>
                            <input asp-for="PerfomanceReviewsDto.Goals" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PerfomanceReviewsDto.Goals"></span>
                        </div>
                        @if (Model.Errors.Count > 0 && Model.Errors !=null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    @foreach (var error in Model.Errors)
                                    {
                                        <li>@error</li>
                                    }
                                </ul>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                                <a asp-page="/PerfomanceReviews/List" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
