@page "{id:int}"
@model Proyect3TWN.WebSite.Pages.EmploymentHistory.Delete
<head>
    <link rel="stylesheet" href="~/css/EmploymentHistory/DeleteEmployment.css" asp-append-version="true"/>
</head>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">Eliminar Historial Laboral</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="EmploymentHistoryDto.id" />
                        <div class="form-group">
                            <label asp-for="EmploymentHistoryDto.ID_Employee">ID del Empleado</label>
                            <input readonly asp-for="EmploymentHistoryDto.ID_Employee" class="form-control" maxlength="45" />
                        </div>
                        <div class="form-group">
                            <label asp-for="EmploymentHistoryDto.CompanyName">Nombre de la Empresa</label>
                            <input readonly asp-for="EmploymentHistoryDto.CompanyName" class="form-control" maxlength="45" />
                        </div>
                        <div class="form-group">
                            <label asp-for="EmploymentHistoryDto.CompanyPosition">Cargo en la Empresa</label>
                            <input readonly asp-for="EmploymentHistoryDto.CompanyPosition" class="form-control" maxlength="45" />
                        </div>
                        <div class="form-group">
                            <label asp-for="EmploymentHistoryDto.Description">Descripción</label>
                            <input readonly asp-for="EmploymentHistoryDto.Description" class="form-control" maxlength="45" />
                        </div>
                        <div class="form-group">
                            <label>Employee</label>
                            <input readonly value="@Model.EmployeeName[Model.EmploymentHistoryDto.ID_Employee]" class="form-control" />
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary mr-3">Eliminar</button>
                                <a asp-page="/EmploymentHistory/List" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
