@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Index.css" /> <!-- Ruta del archivo CSS externo -->
</head>
<body>
<div class="text-center">
    <h1 class="display-4">RRHH</h1>
    <p><a>El corazón de una empresa son sus personas: cuidarlas es potenciar el éxito.</a>.</p>
</div>
</body>
</html>