/* Estilos personalizados para el formulario y los cards */
.container-fluid-employment-history {
    padding-top: 20px;
    background: linear-gradient(to bottom right, #e0f7fa, #b3e5fc); /* Fondo degradado de azul pastel */
}

.btn-primary,
.btn-success,
.btn-danger {
    border-radius: 25px; /* Botones redondeados */
    margin-right: 10px; /* Espacio entre botones */
}

.card-employment-history {
    border: none;
    border-radius: 20px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio entre cards */
    background-color: #ffffff; /* Fondo blanco para el card */
    min-height: 300px; /* Altura mínima para los cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body-employment-history {
    text-align: center; /* Centrar el contenido */
    padding: 20px;
}

.card-title-employment-history {
    font-size: 1.25rem; /* Tamaño del título más pequeño */
    margin-bottom: 10px;
}

.card-text-employment-history {
    color: #6c757d;
    margin-bottom: 10px;
    font-size: 0.9rem; /* Tamaño de texto más pequeño */
}

.btn-group {
    display: flex;
    justify-content: center; /* Centrar los botones */
}

h1 {
    text-align: center; /* Centrar el texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Estilo de fuente */
    color: #333; /* Color del texto */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-top: 50px; /* Espacio superior */
    margin-bottom: 30px; /* Espacio inferior */
}
