html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}
footer {
  position: fixed; /* Fija la posición del footer */
  bottom: 0; /* Lo coloca al pie de la página */
  width: 100%; /* Ocupa todo el ancho de la página */
  background-color: #000000;
  display: block;
}

#login-body {
  background-color: #81bece; /* Color de fondo azul para la página de inicio de sesión */
}