@page "{id:int}"
@model Proyect3TWN.WebSite.Pages.Pyrolls.Edit

<style>
    .card {
        border: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #007bff; /* Color de fondo del encabezado azul */
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: white;
        text-align: center;
        padding: 20px;
    }

    .card-body {
        padding: 40px;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .form-control {
        border-radius: 15px;
    }

    .btn-primary {
        background-color: #007bff; /* Color de fondo del botón primario azul */
        border-color: #007bff;
        border-radius: 15px;
    }

    .btn-primary:hover {
        background-color: #0056b3; /* Cambio de color al pasar el ratón */
        border-color: #0056b3;
    }

    .btn-secondary {
        background-color: #6c757d; /* Color de fondo del botón secundario */
        border-color: #6c757d;
        border-radius: 15px;
    }

    .btn-secondary:hover {
        background-color: #565e64; /* Cambio de color al pasar el ratón */
        border-color: #565e64;
    }
</style>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">Editar Nomina</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="PayrollsDto.id"/>
                        <div class="form-group">
                            <label asp-for="PayrollsDto.ID_Employee">Empleado</label>
                            <select asp-for="PayrollsDto.ID_Employee" class="form-control">
                                <option value="">Seleccionar Empleado</option>
                                @if (Model.Employees != null)
                                {
                                    @foreach (var employees in Model.Employees)
                                    {
                                        <option value="@employees.id">@employees.Name</option>
                                    }
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="PayrollsDto.ID_Employee"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PayrollsDto.PaymentDate">Fecha de Pago</label>
                            <input asp-for="PayrollsDto.PaymentDate" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PayrollsDto.PaymentDate"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PayrollsDto.Salary">Salario</label>
                            <input asp-for="PayrollsDto.Salary" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PayrollsDto.Salary"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PayrollsDto.Bonuses">Bonos</label>
                            <input asp-for="PayrollsDto.Bonuses" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PayrollsDto.Bonuses"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PayrollsDto.Deductions">Deducciones</label>
                            <input asp-for="PayrollsDto.Deductions" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PayrollsDto.Deductions"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PayrollsDto.HoursWorked">Horas Trabajadas</label>
                            <input asp-for="PayrollsDto.HoursWorked" class="form-control" maxlength="45"/>
                            <span class="text-danger" asp-validation-for="PayrollsDto.HoursWorked"></span>
                        </div>
                        @if (Model.Errors.Count > 0 && Model.Errors !=null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                </ul>
                                
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                                <a asp-page="./List" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>