@page "{id:int}"
@model Proyect3TWN.WebSite.Pages.Pyrolls.Edit


<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Editing</h2>
            <form method="post">
                <input type="hidden" asp-for="PayrollsDto.id"/>
                <div class="form-group">
                    <label asp-for="PayrollsDto.ID_Employee"></label>
                    <input asp-for="PayrollsDto.ID_Employee" class="form-control" maxlength="45"/>
                    <span class="text-danger" asp-validation-for="PayrollsDto.ID_Employee"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PayrollsDto.PaymentDate"></label>
                    <input asp-for="PayrollsDto.PaymentDate" class="form-control" maxlength="45"/>
                    <span class="text-danger" asp-validation-for="PayrollsDto.PaymentDate"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PayrollsDto.Salary"></label>
                    <input asp-for="PayrollsDto.Salary" class="form-control" maxlength="45"/>
                    <span class="text-danger" asp-validation-for="PayrollsDto.Salary"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PayrollsDto.Bonuses"></label>
                    <input asp-for="PayrollsDto.Bonuses" class="form-control" maxlength="45"/>
                    <span class="text-danger" asp-validation-for="PayrollsDto.Bonuses"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PayrollsDto.Deductions"></label>
                    <input asp-for="PayrollsDto.Deductions" class="form-control" maxlength="45"/>
                    <span class="text-danger" asp-validation-for="PayrollsDto.Deductions"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PayrollsDto.HoursWorked"></label>
                    <input asp-for="PayrollsDto.HoursWorked" class="form-control" maxlength="45"/>
                    <span class="text-danger" asp-validation-for="PayrollsDto.HoursWorked"></span>
                </div>
                @if (Model.Errors.Count > 0)
                {
                
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            @foreach (var error in Model.Errors)
                            {
                                <li>An error</li>
                            }
                        </ul>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary mr-3">Save</button>
                        <a class="btn btn-secondary"> Cancel </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>